image: Visual Studio 2017

before_build:
 - dotnet --version
 - dotnet restore ./RateLimiter/RateLimiter.csproj --verbosity m
 - dotnet restore ./RateLimiter.Tests/RateLimiter.Tests.csproj --verbosity m
 - nuget restore
 - choco install opencover.portable

build_script:
 - dotnet build "RateLimiter.sln"  --verbosity quiet

test_script:
 - OpenCover.Console.exe -register:user -target:"%xunit20%\xunit.console.exe" -targetargs:"RateLimiter.Tests\bin\Debug\net472\RateLimiter.Tests.dll -noshadow" -output:".\coverage.xml" -filter:"+[RateLimiter*]* -[RateLimiter.Test*]*"

# use codecov bash script. Requires powershell and bash to be installed, which both are on the AppVeyor machine image

after_test:
  - ps: |
      $env:PATH = 'C:\msys64\usr\bin;' + $env:PATH
      Invoke-WebRequest -Uri 'https://codecov.io/bash' -OutFile codecov.sh
      bash codecov.sh -f "coverage.xml"